section{
  display: flex;
}
body{
  background-color: rgb(66, 91, 67);
}
h2{
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  /* text-align: center; */
  margin-left:20px;
  margin-top: 4%;
  margin-bottom: 3%;
}
h1{
  padding:30px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  text-align: center;
}
p{
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  /* text-align: center; */
  margin-left:20px;
  margin-top: 2%;
  margin-bottom: 1%;
}
div{
  
}
img{
  height: 180px;
}
button{
  margin-left:20px;
  margin-top: 3%;
  margin-bottom: 10%;
}